In [4]:
import pyodbc #just installed with pip
from dotenv import dotenv_values #import the dotenv_values function from the dotenv package
import pandas as pd
import warnings
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

warnings.filterwarnings('ignore')

In [5]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
database=environment_variables.get("DATABASE")
server=environment_variables.get("SERVER")
login=environment_variables.get("LOGIN")
password=environment_variables.get("PASSWORD")

In [6]:
connection_string = "DRIVER={ODBC Driver 17 for SQL Server};SERVER={dap-projects-database.database.windows.net};DATABASE={dapDB};UID={LP1_learner};PWD={Hyp0th3s!$T3$t!ng}"

In [7]:
connection=pyodbc.connect(connection_string)

In [8]:
# Obtaining the tables 
query = ''' SELECT *
            FROM INFORMATION_SCHEMA.TABLES
            WHERE TABLE_TYPE = 'BASE TABLE' '''

tables=pd.read_sql(query,connection)
print(tables)

  TABLE_CATALOG TABLE_SCHEMA               TABLE_NAME  TABLE_TYPE
0         dapDB          dbo  LP1_startup_funding2021  BASE TABLE
1         dapDB          dbo  LP1_startup_funding2020  BASE TABLE

In [9]:
# Retrieving the data for 2020
query="Select * from dbo.LP1_startup_funding2020"
Db_2020= pd.read_sql(query, connection )

In [10]:
Db_2020.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [11]:
# Retrieving the data for 2021
query="Select * from dbo.LP1_startup_funding2020"
Db_2021= pd.read_sql(query, connection )

In [12]:
Db_2021.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None

In [13]:
# Obtaining data for 2018
Db_2018=pd.read_csv(r"C:\Users\user\Documents\New folder\LP.1\startup_funding2018.csv")
Db_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [14]:
# Obtaining data for 2019
Db_2019=pd.read_csv(r"C:\Users\user\Documents\New folder\LP.1\startup_funding2019.csv")
Db_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [15]:
Db_2020

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None,None
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round,None
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,None,None
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C,None
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A,None

In [16]:
Db_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.5+ KB

In [17]:
Db_2020.isnull().sum()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

In [18]:
Db_2021

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None
...,...,...,...,...,...,...,...,...,...,...
1050,Leverage Edu,NaN,Delhi,Edtech,AI enabled marketplace that provides career gu...,Akshay Chaturvedi,"DSG Consumer Partners, Blume Ventures",1500000.0,None,None
1051,EpiFi,NaN,None,Fintech,It offers customers with a single interface fo...,"Sujith Narayanan, Sumit Gwalani","Sequoia India, Ribbit Capital",13200000.0,Seed Round,None
1052,Purplle,2012.0,Mumbai,Cosmetics,Online makeup and beauty products retailer,"Manish Taneja, Rahul Dash",Verlinvest,8000000.0,None,None
1053,Shuttl,2015.0,Delhi,Transport,App based bus aggregator serice,"Amit Singh, Deepanshu Malviya",SIG Global India Fund LLP.,8043000.0,Series C,None
1054,Pando,2017.0,Chennai,Logitech,Networked logistics management software,"Jayakrishnan, Abhijeet Manohar",Chiratae Ventures,9000000.0,Series A,None

In [19]:
Db_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  1055 non-null   object
 1   Founded        842 non-null    float64
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What_it_does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount         801 non-null    float64
 8   Stage          591 non-null    object
 9   column10       2 non-null      object
dtypes: float64(2), object(8)
memory usage: 82.5+ KB

In [28]:
Db_2021.isnull().sum()

Company_Brand       0
Founded           213
HeadQuarter        94
Sector             13
What_it_does        0
Founders           12
Investor           38
Amount            254
Stage             464
column10         1053
dtype: int64

In [20]:
Db_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...
...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif..."
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...
524,Droni Tech,Information Technology,Seed,"₹35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!

In [21]:
Db_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [22]:
Db_2018.isnull().sum()

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

In [23]:
Db_2019

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN
...,...,...,...,...,...,...,...,...,...
84,Infra.Market,NaN,Mumbai,Infratech,It connects client requirements to their suppl...,"Aaditya Sharda, Souvik Sengupta","Tiger Global, Nexus Venture Partners, Accel Pa...","$20,000,000",Series A
85,Oyo,2013.0,Gurugram,Hospitality,Provides rooms for comfortable stay,Ritesh Agarwal,"MyPreferred Transformation, Avendus Finance, S...","$693,000,000",NaN
86,GoMechanic,2016.0,Delhi,Automobile & Technology,Find automobile repair and maintenance service...,"Amit Bhasin, Kushal Karwa, Nitin Rana, Rishabh...",Sequoia Capital,"$5,000,000",Series B
87,Spinny,2015.0,Delhi,Automobile,Online car retailer,"Niraj Singh, Ramanshu Mahaur, Ganesh Pawar, Mo...","Norwest Venture Partners, General Catalyst, Fu...","$50,000,000",NaN
88,Ess Kay Fincorp,NaN,Rajasthan,Banking,Organised Non-Banking Finance Company,Rajendra Setia,"TPG, Norwest Venture Partners, Evolvence India","$33,000,000",NaN

In [24]:
Db_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [25]:
Db_2019.isnull().sum()

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

In [67]:
# Renaming the columns in Db_2018 match with the rest
Db_2018['Year']=2018
Db_2018['Founded']= np.nan 
Db_2018 = Db_2018.rename(columns={'Company Name': 'Company/Brand'})
Db_2018 = Db_2018.rename(columns={'Industry': 'Sector'})
Db_2018 = Db_2018.rename(columns={'Location': 'Headquarter'})
Db_2018 = Db_2018.rename(columns={'Amount': 'Amount($)'})
Db_2018 = Db_2018.rename(columns={'Round/Series': 'Stage'})

new_column_names= ['Comapny Brand', 'Sector', 'HeadAQuarter', 'Amount($)', 'Stage', 'Year', 'Founded']

#Db_2018.drop('About Company', axis= 1, inplace= True)

In [72]:
if len(new_column_names) == len(Db_2018.columns):
    Db_2018.columns = new_column_names
else:
    print("Column name list length does not match the number of columns in the DataFrame.")

Column name list length does not match the number of columns in the DataFrame.

In [70]:
Db_2018.columns

Index(['Company_Brand', 'Sector', 'Stage', 'Amount($)', 'HeadQuarter',
       'What_it_does', 'year_collected', 'Year', 'Founded'],
      dtype='object')

In [74]:
df=pd.concat([Db_2021, Db_2020, Db_2019, Db_2018], axis=0)
df.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10,Company/Brand,What it does,Amount($),year_collected,Year
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None,NaN,NaN,NaN,NaN,NaN
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None,NaN,NaN,NaN,NaN,NaN
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None,NaN,NaN,NaN,NaN,NaN
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None,NaN,NaN,NaN,NaN,NaN
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None,NaN,NaN,NaN,NaN,NaN

In [75]:
df.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage', 'column10', 'Company/Brand',
       'What it does', 'Amount($)', 'year_collected', 'Year'],
      dtype='object')

In [76]:
df.drop(columns=['column10', 'Amount($)', 'year_collected', 'Year', 'What it does', 'Company/Brand'], inplace= True)

In [77]:
df.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2725 entries, 0 to 525
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company_Brand  2636 non-null   object
 1   Founded        1744 non-null   float64
 2   HeadQuarter    2518 non-null   object
 3   Sector         2694 non-null   object
 4   What_it_does   2636 non-null   object
 5   Founders       2172 non-null   object
 6   Investor       2123 non-null   object
 7   Amount         1602 non-null   float64
 8   Stage          1751 non-null   object
dtypes: float64(2), object(7)
memory usage: 212.9+ KB

In [79]:
df.isnull().sum()

Company_Brand      89
Founded           981
HeadQuarter       207
Sector             31
What_it_does       89
Founders          553
Investor          602
Amount           1123
Stage             974
dtype: int64

In [80]:
df['Amount'].unique

<bound method Series.unique of 0      200000.0
1      100000.0
2           NaN
3      400000.0
4      340000.0
         ...
521         NaN
522         NaN
523         NaN
524         NaN
525         NaN
Name: Amount, Length: 2725, dtype: float64>

In [71]:
# rename all columns in each dataframe to conform to the 2021 dataset

Db_2018.columns=['Company_Brand','Sector','Stage', 'Amount', 'HeadQuarter', 'What_it_does','year_collected']

Db_2019.columns=['Company_Brand','Founded','HeadQuarter','Sector','What_it_does','Founders','Investor', 'Amount', 'Stage', 'year_collected']

ValueError: Length mismatch: Expected axis has 9 elements, new values have 7 elements

In [ ]:
# Filling missing columns
df['Founded'].fillna(df['Founded'].median(), inplace= True) 
df['Amount'].fillna(df['Amount'].median(), inplace= True)

In [ ]:
def fill_missing_sector(row):
    if pd.isnull(row['sector']):
        if 'financial' in row['sector_description'].lower() or 'bank' in row['sector_description'].lower() or 'fintech' in row['sector_description'].lower():
            return 'Finance'
        elif 'medical' in row['sector_description'].lower() or 'health' in row['sector_description'].lower():
            return 'Health'
        elif 'vehicle' in row['sector_description'].lower() or 'transport' in row['sector_description'].lower():
            return 'Transport'
        elif 'games' in row['sector_description'].lower() or 'sports' in row['sector_description'].lower():
            return 'Game'
        elif 'brand marketing' in row['sector_description'].lower() or 'marketing' in row['sector_description'].lower():
            return 'Marketing'
        elif 'farming' in row['sector_description'].lower() or 'fishery' in row['sector_description'].lower():
            return 'Agriculture'
        elif 'real eastate' in row['sector_description'].lower() or 'home design' in row['sector_description'].lower() or 'accommodation' in row['sector_description'].lower():
            return 'Real Estate'
        elif 'energy' in row['sector_description'].lower() or 'battery' in row['sector_description'].lower() or 'solar' in row['sector_description'].lower():
            return 'Energy'
        elif 'school' in row['sector_description'].lower() or'education' in row['sector_description'].lower():
            return 'Education'
        elif 'fashion' in row['sector_description'].lower() or 'd2c fashion' in row['sector_description'].lower():
            return 'Style'
        elif 'entertainment' in row['sector_description'].lower() or 'media' in row['sector_description'].lower() or 'news' in row['sector_description'].lower():
            return 'Media'
        else:
            return 'Other'
    return row['sector']

In [ ]:
import re
def sector_arrangement(sector):
    if re.search(r'bank|fintech|finance|crypto|account|credit|venture|crowd|blockchain', sector, re.IGNORECASE):
        return 'Finance'
    elif re.search(r'automotive|air transport|transport|logistics|vehicle|transportation', sector, re.IGNORECASE):
        return 'Transport'
    elif re.search(r'health|medical|pharmaceutical|health diagnostics|health care|hospital|biotechnology|biopharma|hygiene management|healthtech|laboratory|biotech', sector, re.IGNORECASE):
        return 'Health'
    elif re.search(r'brand marketing|marketing|event promotion|market', sector, re.IGNORECASE):
        return 'Marketing'
    elif re.search(r'farming|agriculture|nutrition|hauz khas|fishery', sector, re.IGNORECASE):
        return 'Agriculture'
    elif re.search(r'e-learning|edtech|education|communities|preschool|school', sector, re.IGNORECASE):
        return 'Education'
    elif re.search(r'real estate|home decor|accommodation|interior design|home design|home interior|co-living|construction', sector, re.IGNORECASE):
        return 'Real Estate'
    elif re.search(r'renewable energy|solar|energy|energy storage|battery|oil and gas|renewable|ev|electricity|purification|renewables', sector, re.IGNORECASE):
        return 'Energy'
    elif re.search(r'entertainment|media|news|video|digital media|fm|publication|ott|social network|music|digital platform|podcast|publishing|blogging', sector, re.IGNORECASE):
        return 'Media'
    elif re.search(r'fashion|jewelry|eyeglasses|eye wear|apparel|dating|celebrity|eyewear|d2c fashion|matrimony|textiles|d2c jewellery|footwear|arts', sector, re.IGNORECASE):
        return 'Style'
    elif re.search(r'gaming|games|sports', sector, re.IGNORECASE):
        return 'Game'
    else:
        return sector

In [ ]:
df['Sector'] = df['Sector'].apply(sector_arrangement)

In [ ]:
#  Cleaning the HeadQuarter column
# Within the HeadQuarter column lies some info that do not belong, hence we remve them and replace with null values
df['HeadQuarter'] = df['HeadQuarter'].str.replace('Pharmaceuticals\t#REF!','', regex= False)
df['HeadQuarter'] = df['HeadQuarter'].str.replace('Information Technology & Services','', regex= False)
df['HeadQuarter'] = df['HeadQuarter'].str.replace('Online Media\t#REF!','', regex= False)
df['HeadQuarter'] = df['HeadQuarter'].str.replace('Computer Games','', regex= False)
df['HeadQuarter'] = df['HeadQuarter'].str.replace('Food & Beverages','', regex= False)
df['HeadQuarter'] = df['HeadQuarter'].str.replace('Gurugram\t#REF!','', regex= False)


df['HeadQuarter'] = df['HeadQuarter'].fillna(df['HeadQuarter'].mode(), axis= 0)
df['HeadQuarter'] = df['HeadQuarter'].apply(lambda x: x.split(',')[0])

In [ ]:
df['Stage'].unique()

In [ ]:
# Cleaning the stage column
df['Stage'] = df['Stage'].replace('$6000000', np.nan)
df['Stage'] = df['Stage'].replace('$300000', np.nan)
df['Stage'] = df['Stage'].replace('https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593', np.nan)
df['Stage'] = df['Stage'].replace('$1000000', np.nan)
df.head()

#Replacing the null values with the mode
df['Stage'].fillna(df['Stage'].mode(), inplace= True)